* {
  //  background-color: black;
   font-family: 'Alegreya Sans', sans-serif;
   margin: 0;
   padding: 0;
   color: #6e6e6e;
}

a, a:visited {
  color: #6e6e6e;
}

.btn {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  text-align: center;
  display: inline-block;
  opacity: .7;
  transition: opacity 100ms linear;
  i {
    position: relative;
  }
  i:after {
    content: '';
    display: block;
    position: absolute;
    top: -8px;
    left: -8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #616161 1px solid;
    opacity: 0;
    transition: opacity 100ms linear 20ms;
  }
  &:hover {
    opacity: 1;
    i:after {
      animation: flash 250ms linear;
    }
  }
}

.container {
  display: table;
  height: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  .centered {
    display: table-cell;
    width: 100%;
    height: 600px;  //fallback
    height: 100vh;
    vertical-align: middle;
    .title {
      opacity: 0;
      -webkit-animation: easing .7s cubic-bezier(0.1,0.28,0.7,.87) forwards;
      animation: easing .7s cubic-bezier(0.1,0.28,0.59,.87) forwards;
      text-transform: uppercase;
      letter-spacing: 10px;
      font-size: 45px;
      color: #6e6e6e;
      font-variant-ligatures: common-ligatures;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
    }
    .horizontal-divider {
      width: 20%;
      // margin: 0 auto;
      height: 1px;
      margin-top: 50px;
      margin-bottom: 50px;
      background-color: #ccc;
    }
  }
  &.aside {
    background-color: #fbfbfb;
    width: 350px;
    float: left;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  20% {
    transform: scale(1);
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}

@keyframes easing {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
