@keyframes flash {
  0% {
    opacity: 0;
  }
  20% {
    transform: scale(1);
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}

@keyframes easing {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}