 #body {
  //  background-color: black;
   background-color: #fbfbfb;
   font-family: 'Alegreya Sans', sans-serif;
   margin: 0;
   padding: 0;
}

.container {
  display: table;
  height: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  .centered {
    display: table-cell;
    width: 100%;
    height: 600px;  //fallback
    height: 100vh;
    vertical-align: middle;
    .title {
      opacity: 0;
      -webkit-animation: easing .7s cubic-bezier(0.1,0.28,0.7,.87) forwards;
      animation: easing .7s cubic-bezier(0.1,0.28,0.59,.87) forwards;
      text-transform: uppercase;
      letter-spacing: 10px;
      font-size: 60px;
      color: #6e6e6e;
      font-variant-ligatures: common-ligatures;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      // &:first-child{
      //   padding-right: 50px;
      // }
      // &:nth-child(2) {
      //   -webkit-animation-delay: .23s;
      // }
    }
    .horizontal-divider {
      width: 20%;
      // margin: 0 auto;
      height: 1px;
      margin-top: 50px;
      margin-bottom: 50px;
      background-color: #ccc;
    }
    #watercolor {
      -webkit-animation: painting 7.7s cubic-bezier(0.1,0.28,0.7,.87) .67s forwards;
      animation: painting 7.7s cubic-bezier(0.1,0.28,0.59,.87) .67s forwards;
    }
  }
  &.aside {
    width: 300px;
    float: left;
  }
}


@keyframes easing {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
