/****MODULES*****/
body {
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
  overflow: hidden;
}

.wrapper {
  background-color: #f1f1f1;
  width: calc(100% - 500px);
  float: right;
  display: inline-block;
  height: 100%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px;
}

.tile-title {
  transition: all .3s ease-in-out;
  opacity: 0;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  line-height: 20px;
  top: calc(-100px - 10px);
  text-align: center;
}

.iframe-wrap {
  position: relative;
  height: 200px;
  overflow: hidden;
  transition: box-shadow .15s linear;
}
.iframe-wrap iframe {
  position: relative;
  top: -50%;
  left: -30%;
}
.iframe-wrap:hover {
  transform: translateZ(0);
}
.iframe-wrap:hover:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
.iframe-wrap:hover ~ .tile-title {
  opacity: 1;
}
.iframe-wrap iframe {
  height: 320%;
  width: 320%;
  transform: scale(0.5) translateX(-50%) translateY(-50%);
  transform-origin: center;
}

#container .item {
  width: 30%;
  height: 200px;
}
#container .item:after:not(.iframe) {
  content: '';
  margin: 0 auto;
  display: block;
}
#container .item .content {
  box-sizing: border-box;
  padding: 30px;
  position: absolute;
  transform: translateY(100%);
  margin: 0 auto;
  opacity: 0;
  width: 85%;
  height: 600px;
  height: calc(100vh - 290px);
  bottom: 10px;
  background-color: white;
  transition: transform .3s linear, opacity .1s linear;
  left: 0;
  right: 0;
}
#container .item.BA {
  background-color: #1a1a1a;
}
#container .item.full-screen {
  width: 100%;
  height: 100%;
  height: 100vh;
  z-index: 1000;
  pointer-events: none;
  background-position: center top;
  background-size: auto 290px;
}
#container .item.full-screen:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background-color: red;
  pointer-events: auto;
}
#container .item.full-screen .content {
  transition: transform 0.3s cubic-bezier(0.1, 0.28, 0.7, 0.89) 0.2s, opacity 0.25s linear 0.2s;
  display: block;
  transform: translateY(0px);
  opacity: 1;
}

#body {
  background-color: #fbfbfb;
  font-family: 'Alegreya Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: table;
  height: 100%;
  padding: 0 50px;
  box-sizing: border-box;
}
.container .centered {
  display: table-cell;
  width: 100%;
  height: 600px;
  height: 100vh;
  vertical-align: middle;
}
.container .centered div.title {
  opacity: 0;
  -webkit-animation: easing 0.7s cubic-bezier(0.1, 0.28, 0.7, 0.87) forwards;
  animation: easing 0.7s cubic-bezier(0.1, 0.28, 0.59, 0.87) forwards;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 60px;
  color: #6e6e6e;
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.container .centered .horizontal-divider {
  width: 20%;
  height: 1px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #ccc;
}
.container .centered #watercolor {
  -webkit-animation: painting 7.7s cubic-bezier(0.1, 0.28, 0.7, 0.87) 0.67s forwards;
  animation: painting 7.7s cubic-bezier(0.1, 0.28, 0.59, 0.87) 0.67s forwards;
}
.container.aside {
  width: 400px;
  float: left;
}

@-webkit-keyframes easing {
  0% {
    -webkit-transform: translateY(80px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-25px);
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes easing {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
nav {
  background-color: #2B2B2B;
  z-index: 300;
}
nav ul {
  margin: 0;
  box-sizing: border-box;
  padding: 0 50px;
}
nav ul li {
  float: left;
  padding: 0 30px;
  line-height: 50px;
  list-style: none;
  text-transform: uppercase;
}
nav ul li.brand {
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  padding-left: 0;
}
nav ul li a {
  color: white;
  opacity: .8;
  text-decoration: none;
  transition: opacity .13s linear;
}
nav ul li a:hover {
  opacity: 1;
}

h3, h4 {
  margin-bottom: 10px;
}

p {
  max-width: 600px;
}

section:not(.screen) {
  margin-top: 50px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  padding-top: 50px;
  border-top: solid 2px rgba(228, 228, 228, 0.5);
}

em {
  font-weight: 600;
}

.screen {
  width: 50%;
  float: left;
  margin-right: 2%;
  height: 100%;
  text-align: center;
}

aside {
  width: 48%;
  float: right;
  height: 100%;
}

pre.prettyprint {
  border: 0 !important;
  margin: 0;
}

.example {
  display: table-cell;
  height: 100%;
  width: 100vw;
  padding: 15px;
  background-color: white;
  border: solid 1px #F1F1F1;
}
.example:after {
  content: '';
  clear: both;
  display: block;
}

.caps {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
}

body {
  overflow: scroll;
  padding-top: 50px !important;
}

.marque {
  border: 1px dashed #ccc;
  display: inline-block;
}

div.marque {
  border: 1px dashed #ccc;
  display: block;
  height: calc(100% - 2px);
}

.text-justify {
  text-align: justify;
}

.parent {
  background-color: aliceblue;
  overflow: hidden;
}
.parent .basicDiv {
  height: 50px;
}

.exe-padding .basicDiv {
  height: auto;
}

.exe-margin .margin-variant {
  height: auto;
}

.exe-borderBox .basicDiv {
  height: 50px;
}
.exe-borderBox .basicDiv.padding {
  padding: 10px;
}

.exe-absolute .parent {
  position: relative;
  padding: 30px;
}

.exe-fixed .parent {
  position: relative;
  overflow: scroll;
  height: 100%;
}

.div {
  background-color: aquamarine;
  height: 100px;
}

.divShort {
  background-color: aquamarine;
  height: 100px;
  width: 50px;
  margin: 5px;
}

.basicSpan {
  background-color: darkturquoise;
}

.inlineBlock {
  background-color: cornflowerblue;
  height: 50px;
  display: inline-block;
  padding: 5px;
}

.displayNone {
  display: none;
}

.visibilityHidden {
  visibility: hidden;
}

.floatRight {
  background-color: darkcyan;
  height: 50px;
  float: right;
  border: solid 1px #055A5A;
  padding: 3px;
}

.floatLeft {
  background-color: darkcyan;
  height: 50px;
  float: left;
  border: solid 1px #055A5A;
  padding: 3px;
}

.floatParent {
  background-color: aliceblue;
  width: 300px;
  margin: 0 auto;
}

.floatParent:after {
  content: '';
  clear: both;
  display: block;
}

.margin {
  margin: 40px;
}

.padding {
  padding: 40px;
}

.padding-variant {
  padding-top: 20px;
  padding-right: 70px;
  padding-bottom: 50px;
  padding-left: 30px;
}

.margin-variant {
  margin-top: 20px;
  margin-right: 70px;
  margin-bottom: 50px;
  margin-left: 30px;
}

.box-sizing {
  box-sizing: border-box;
  padding: 10px;
}

.inlineBlock-Relative {
  background-color: aqua;
  height: 50px;
  display: inline-block;
  padding: 5px;
  position: relative;
  top: 30px;
  left: -15px;
}

.absolute {
  background-color: aqua;
  height: 50px;
  padding: 5px;
  position: absolute;
  bottom: 0px;
  left: 15px;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.inlineBlock-zIndex {
  background-color: coral;
  padding: 5px;
  height: 50px;
  display: inline-block;
  position: relative;
  z-index: 200;
  right: -20px;
  top: -5px;
}

@media only screen and (max-width: 880px) {
  .screen {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  aside {
    width: 100%;
  }
}

/*# sourceMappingURL=custom.css.map */
